img{
    width: 270px;
    height: 200px;
    object-fit: contain;
}

#images{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

h1{
    text-align: center;
}