*{
    margin: 0;
    padding: 0;
    font-family: 'league Spartan', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 2rem;
}

.left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color: #ECECEC;
    margin: 1rem;
}

.displayedQuestionContainer{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.displayedQuestion{
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
}

.answers{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.answer{
    background-color: #C9DCF8;
    width: 40%;
    height: 1.8rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.answer:hover{
    border: #59A3F7 1px solid;
}

.selected{
    border: #59A3F7 2px solid !important;
}

.answer>*{
    margin: 1rem;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5rem;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    background-color: #ECECEC;
    margin: 1rem;
}

.noteContainer{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border-radius: 10px;
}

.timerAndScoreContainer{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.timerContainer{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

#checkButton, #nextButton{
    background-color: #59A3F7;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 10rem;
    align-self: center;
    transition: transform 0.2s ease-in-out;
}

#checkButton:hover, #nextButton:hover{
    background-color: #1573C6;
    transform: translateY(-2px);
}

.correct{
    color: green;
}

.wrong{
    color: red;
}