*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(243, 165, 178, 0.2);
    position: sticky;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}
.navi, .logo{
    display: flex;
    direction: row;
    gap: 1rem;
    align-items: center;
    margin: 10px;
}
p,h1,h2,a,li{
    color: rgb(142, 39, 39);
    text-decoration: none;
}
a{
    transition: transform 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: rgb(100, 26, 26);
}
a:hover {
    color: rgb(244, 29, 29);
    transform: translateY(-2px);
}

h2{
    text-align: center;
}

#conhead{
    text-align: start;
    margin-left: 1rem;
    margin-top: 3rem;
}

.content{
    margin: 1rem;
}

.content>ul>li, .content>ol>li{
    margin: 0.5rem;
}

.content>*{
    margin-top: 2rem;
}

.logo{
    width: 8rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}

label{
    color: rgb(130, 33, 33);
}

input, textarea{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(244, 29, 29);
    width: 40%;
    outline: none;
    transition: border 0.1s ease-in-out;
}

input:focus, textarea:focus{
    border: 2px solid rgb(244, 29, 29) !important;
    color: rgb(100, 26, 26);
}

input:hover, textarea:hover{
    border: 1px solid rgba(250, 0, 0, 0.4);
}

.form-name, .form-mail, .form-message{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.submit-button{
    width: 40%;
    display: flex;
    justify-content: center;
}

button{
    width: 8rem;
    height: 2rem;
    align-self: center;
    border: none;
    background-color: rgb(205, 87, 87);
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease-in-out;
}

button:hover{
    transform: translateY(-2px);
    background-color: rgb(136, 18, 18);
    box-shadow: 4px 4px 7px rgba(251, 123, 123, 0.8);
    border-radius: 8px;
}
footer{
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(163, 56, 56);
    bottom: 0;
}
footer>p{
    color: pink;
}

@media (max-width: 1000px){
    input, textarea{
        width: 60%;
    }
   .submit-button{
    width: 60%;
   }
   #conhead{
    text-align: start;
   }
}

@media (max-width: 500px){
    input, textarea{
        width: 90%;
    }
   .submit-button{
    width: 100%;
   }
   #conhead{
    text-align: center;
   }
}